.container{
    width: 100%;
    margin: 0%;
    border: 0%;
    padding: 15px;
}

.content-header{
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr;
    grid-template-rows: 250px;
    gap: 10px;
    padding: 10px;
}

.logo{
    grid-column: 2;
    margin-top: 30px;
}

.feedback{
    grid-column: 1;
    grid-row: 1;
    margin-top: 170px;
}

.search-box{
    display: flex;
    align-items: center;
    margin-top: 150px;
}

.list{
    margin-left: 33%; /*margin tam*/
}

.title{
    text-align: center;
}

.first-para{
    text-align: left;
}

.bike-img{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 10px;
}

.ab160cc{
    width: 100%;
    height: auto;
    margin-top: 90px;
    margin-left: 70px;
}

.lead{
    max-width: 100%;
    margin-left: 70px;
}

.lead .img-responsive{
    max-width: 70%;
}

.vision{
    max-width: 100%;
    margin-left: 100px;
}

.vision .img-responsive{
    max-width: 70%;
}

.best-seller{
    display: grid;
    margin-top: 10px;
    grid-template-columns: 1.2fr 1fr;
    /* grid-template-rows: minmax(auto, 500px); */
    gap: 20px;
}

.vario160{
    grid-column: 2;
    margin-left: 90px;
}

.vario-prop{
    grid-column: 1;
    grid-row: 1;
    /* padding-bottom: 50px;
    padding-top: 100px; */
    margin-top: 90px;
    margin-left: 70px;
}

.accessories{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 400px;
    gap: 10px;
}

.accessories-header{
    grid-column: 1/3;
    grid-row: 1/1;
    align-self: center;
    /* justify-content: center; */
    margin-left: auto;
    margin-right: auto;
}

.accessories-details{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

.liquid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

.liquid-img{
    margin: auto;
    margin-left: 60px;
}

.liquid-prop{
    margin: auto;
}

.carbon-handler{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.handler-img{
    grid-column: 1/2;
    margin: auto;
    margin-left: 20px;
}

.handler-prop{
    margin:auto;
    margin-right: 30px;
    margin-left: 10px;
}
.footer{
    background-color: rgb(2, 214, 214);
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    color: azure;
    border-radius: 15px;
}

@media screen and (max-width: 765px) {
    .container{
        width: 100%;
        margin: 0%;
        border: 0%;
        padding: 15px;
    }
    .logo{
        margin-top: 0%;
    }
    .content-header{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .search-box{
        margin-top: 15px;
    }

    .feedback{
        margin-top: 0px;
    }
    .bike-img{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .ab160cc{
        max-width: 60%;
        min-width: 40%;
        margin-right: 20%;
    }
    .vision{
        margin-left: 25%;
        margin-right: 5%;
        max-width: 80%;
    }
    .vision .img-responsive{
        max-width: 80% ;
        min-width: 50%;
    }
    .lead .img-responsive{
        max-width: 80%;
        margin-right: 20%;
    }
    .best-seller{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .vario160{
        margin-top: 20px;
        max-width: 70%;
        margin-left: 5%;
    }
    .vario-prop{
        margin: 0px;
        margin-left: 7%;
        margin-right: 7%;
    }
    .accessories{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .accessories-header{
        text-align: center;
    }
    .accessories-details{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .liquid{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .liquid-img{
        margin-left: auto;
        margin-right: auto;
    }    

    .liquid-prop{
        margin-left: 5%;
        margin-right: 5%;
    }

    .liquid-prop h3{
        text-align: center;
    }
    .carbon-handler{
        display: flex;
        flex-direction: column;
    }
    .handler-img{
        margin-left: auto;
        margin-right: auto;
    }
    .handler-prop{
        margin-left: 5%;
        margin-right: 5%;
    }
    .handler-prop h3{
        text-align: center;
    }
}



